# Operating System and Editor specific
.DS_Store
.vscode/
.idea/
*.swp
*.bak
*~
*.log
temp/
tmp/

# Python specific
*.pyc
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
__pycache__/
*.db
*.db-journal

# Frontend specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/
htmlcov/

# Credentials
provider_config.py
backend/tests/provider_config.py

# Test logs
backend/tests/logs/
